html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.protocol-icon{
  display:inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
}
.discord .protocol-icon{
  background-image: url("../imgs/discord_logo1600.png");
}
.twitch .protocol-icon{
  background-image: url("../imgs/twitch.png");
}