@{
    ViewData["Title"] = "Home Page";
}
<div id="tree">tree here</div>

@section Scripts{
    <script type="text/javascript">
        function getTree() {
            var tree = @Html.Raw(ViewData["treeString"]);
            console.log('tree');
            console.log('@ViewData["treeString"]');
            return tree;
        }

        $('#tree').bstreeview({ data: getTree() });
    </script>
}
