@{
    ViewData["Title"] = "Home Page";
}
<div id="tree"></div>
tree above.

@section Scripts{
    <script type="text/javascript">
        function getTree() {
            var tree = @Html.Raw(ViewData["treeString"]);
            return tree;
        }

        $('#tree').bstreeview({ data: getTree() });
    </script>
}